{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Phone Detail</title>
    <link rel="shortcut icon" href="https://img.hhcdn.ru/employer-logo/5832362.png">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
{% include 'header.html' %}
<center>
  <h2>{{object.title}}</h2>
    <p>{{object.description}}</p>
  <img src="{{object.image.url}}" alt="">
  <p>{{object.model_phone}}</p>
  <p>{{object.cost}}</p>
  <iframe src="{{object.video}}" frameborder="0">
  </iframe>
  <p>{{object.created_date}}</p>
</center>
{% include 'footer.html' %}
</body>
</html>